# SPDX-FileCopyrightText: 2024 winston <hey@winston.sh>
# SPDX-License-Identifier: CC0-1.0

use flake ./nix/dev --accept-flake-config --impure

dotenv .env
env_vars_required DISCORD_TOKEN DATABASE_URL
